.status_devices {
	padding: 15px 25px;
}

.status_devices_present_table, .status_devices_present_table th, .status_devices_present_table td {
	border: 1px solid #999;
	border-collapse: collapse;
	padding: 7px;
}