.hamburger-react{
    z-index: 3;
}
.icon_close{
    display: none;
    position:fixed;
    transition: all 0.6s;
}
@media screen and (max-width: 400px){
    .icon_close {
        display: block;
    }
    .header{
        z-index: 10;
        padding-left: 0px;
    }
    .header_left h2{
        font-size: 14px;
    }
    .header_right h3{
        display: none;
    }
    .SidebarLayout{
        z-index: 2;
        margin-top: 4px;
    }
    .SidebarLayout ul{
        width: 100px;
        height: calc(100% - 90px) !important;
    }
    .icon_close{
        display: block;
    }
    .ant-menu{
        position: absolute;
        width: 200px;
        transition: all 0.6s;
    }
    .content{
        padding-top: 30px;
        /* overflow: hidden; */
        overflow-x: hidden;
    }
    .app_content{
        overflow: hidden;
    }
    #chart{
        overflow-x: auto;
        padding-bottom: 40px;
    }
    .recharts-legend-wrapper{
        left: 0px;
        top: 220px !important;
    }
    .ant-form-item button{
        margin-left: -25px;
    }
    .ant-table-content{
        overflow: auto;
    }
    /* #table_gardens tr{
        width: 150%;
    } */
    .ant-empty-image{
        width: 100%;
    }
    .row_garden{
        min-width: 100px;
    }
    #add_people button{
        margin-left: 0px !important; 
        width: 82px;
    }
    .login_form{
        margin: auto;
        width: 100%;
    }
    .login_form form{ 
        margin: auto;
        width: 50%;
    }
    .login_form input{
        width: 100%;
    }
    .login_form h3{
        width: 100%;
    }
    .login_form header{
        width: 100%;
        transform: translateY(-150px);
    }
    .login{
        width: 100%;
        background: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .ant-empty-image img{
        width: 100%;
    }
    #Dropdown_before{
        width: 75%;
        transform: translateX(34%);
    }
    .custom-dropdown{
        border: none;
        overflow: hidden;
    }
    .app{
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}