.header {
	display: flex;
	justify-content: space-between;
	background-color: var(--color-header);
	/* background-color: #46c7f6; */
	border-bottom: 1px solid #e2dbdb;
	height: 10vh;
	padding: 10px !important;
	position: fixed;
	top: 0;
	width: 100%;
}

.header_left {
	display: flex;
	align-items: center;
	color: white;
}

.header_right {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: white;
}

.header_right div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.header_right div:hover {
	cursor: pointer;
}

.header_right div:last-child {
	margin-left: 5px;
}

/* css thông báo */
.custom-dropdown {
	border: 1px solid rgb(180, 179, 179);
	border-radius: 8px;
	overflow-y: auto;
	max-height: 90vh;
	width: 450px;
}

.custom-dropdown::-webkit-scrollbar {
	width: 3px;
}

.custom-dropdown::-webkit-scrollbar-track {
	background-color: #f1f1f1;
}

.custom-dropdown::-webkit-scrollbar-thumb {
	background-color: #e3e3e3;
	border-radius: 4px;
}

.custom-dropdown::-webkit-scrollbar-thumb:hover {
	background-color: #aaaaaa;
	cursor: pointer;
}

:where(.css-dev-only-do-not-override-15rg2km).ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item:hover {
	background-color: rgba(113, 211, 247, 0.15) !important;
}

.slectNotification {
	padding: 0.3rem 0.8rem;
	border: none;
	border-radius: 20px;
}

.slectNotification:hover {
	cursor: pointer;
	background-color: var(--color-header);
	color: white;
}

.custom-dropdownPrivate {
	border: 1px solid rgb(180, 179, 179);
	border-radius: 8px;
	overflow-y: auto;
	max-height: 90vh;
	width: 350px;
}