.garden {
	padding: 15px 25px;
}

.garden_header p {
	padding-left: 15px;
}

.garden .garden_header {
	min-width: 300px;
}

.garden .garden_header h3 {
	color: #777;
	font-size: 20px;
	font-weight: 500;
}

.garden .garden_header p {
	display: flex;
	text-align: center;
	flex-direction: column;
	border: 1px solid #f0f0f0;
	border-radius: 7px;
	padding: 15px;
	max-width: 200px;
}

.garden .garden_header p span:first-child {
	font-size: 18px;
	margin-bottom: 5px;
}

.garden_header h3 {
	font-weight: 400;
	color: rgb(14, 13, 13) !important;
}

.garden_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}

/* /////////////// */
.ModalUpdateGarden {
	display: flex;
	justify-content: space-between;
}
.ModalUpdateGarden_left, .ModalUpdateGarden_right {
	width: 45%;
}
.ModalUpdateGarden_right div,
.ModalUpdateGarden_left div{
	margin: 0.7rem 0;
}