:root {
  --color-background: "gren";
  --color-button: "gren";
  --color-sidebar: "gren";
  --color-header: #71d3f7;
}

.app {
  background-image: url("../public/Background.png");
  background-size: 100%;
}

.app_content {
  display: flex;
  margin-top: 10vh;
}

.content {
  flex: 1;
  max-height: 90vh;
  overflow: auto;
}

.form_left {
  margin: 1rem;
}

.form_left :where(.css-dev-only-do-not-override-15rg2km).ant-form-item .ant-form-item-label {
  text-align: left;
}

.SidebarLayout {
  height: 90vh;

}

.SidebarLayout>ul {
  height: 100%;
  /* opacity: 0.5; */
  background-color: #d9f4fe;
  /* background-color: rgb(211, 232, 252); */
}

/* ----------------------------- */