:root {
  --color-background: "gren";
  --color-button: "gren";
  --color-sidebar: "gren";
  --color-header: #71d3f7;
}

* {
  font-size: 16px;
}

.app {
  background-image: url("../public/Background.png");
  background-size: 100%;
}

.app_content {
  display: flex;
  margin-top: 10vh;
}

.content {
  flex: 1;
  max-height: 90vh;
  overflow: auto;
}

.form_left {
  margin: 1rem;
}

.SidebarLayout {
  height: 90vh;
  /* background-color: #d9f4fe; */
}

.SidebarLayout>ul {
  height: 100%;
  background-color: #d9f4fe;
  z-index: 1;
}

/* ----------------------------- */